<app-restaurant-home-header></app-restaurant-home-header>
<div class="mid-container">
  <div class="mid-card">
    <div class="upper-card">
      <div class="heading">Get started with onlline ordering</div>
      <div class="sub-heading">
        Please keep the following details ready for smooth signup
      </div>
    </div>
    <div class="lower-card">
      <div class="left">
        <div class="list-item">
          <mat-icon class="list-icon">check_circle</mat-icon> Your restaurant
          menu
        </div>
        <div class="list-item">
          <mat-icon class="list-icon">check_circle</mat-icon>Your restaurant
          mobile number
        </div>
        <div class="list-item">
          <mat-icon class="list-icon">check_circle</mat-icon>Your restaurant's
          address
        </div>
      </div>
      <div class="right">
        <div class="list-item">
          <mat-icon class="list-icon">check_circle</mat-icon>Restaurant image
        </div>
        <div class="list-item">
          <mat-icon class="list-icon">check_circle</mat-icon>Dish images for
          menu items
        </div>
        <div class="list-item">
          <mat-icon class="list-icon">check_circle</mat-icon>Working hours of
          restaurant
        </div>
      </div>
    </div>
  </div>
</div>
