<div class="container">
  <div class="inner-container" *ngFor="let restaurant of restaurants">
    <div class="card-container" routerLink="/order/{{ restaurant.id }}">
      <div class="card-image">
        <img
          src="{{ restaurant.image }}"
          alt="{{ restaurant.name }}"
          class="card-img"
        />
      </div>
      <div class="card-details">
        <div class="restaurant-name">{{ restaurant.name }}</div>
        <div class="restaurant-cuisine">
          {{ restaurant.description | cuisineSeparator }}
        </div>
      </div>
    </div>
  </div>
</div>
