<div class="container">
  <div class="inner-container">
    <div class="header">
      <div class="app-name" routerLink="/home">
        <div class="app-title">foody</div>
        <div class="app-subtitle">for business</div>
      </div>
      <span class="header-spacer"></span>
      <div class="buttons">
        <button mat-button class="headers" routerLink="/home">
          Order Food
        </button>
        <button
          mat-button
          class="headers login-btn"
          (click)="openSigninDialog()"
          *ngIf="!isLoggedIn"
        >
          Login
        </button>
        <button
          mat-button
          class="headers signup-btn"
          (click)="openSignUpDialog()"
          *ngIf="!isLoggedIn"
        >
          Create Account
        </button>
        <button
          mat-button
          class="headers rightmost-header account-btn"
          [matMenuTriggerFor]="menu"
          *ngIf="isLoggedIn"
        >
          <mat-icon class="account-icon">account_circle</mat-icon>
          <span class="user-firstname">{{ fullName.split(" ")[0] }}</span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/user-profile">
            <span>Profile</span>
          </button>
          <button
            *ngIf="role === 'restaurant'"
            mat-menu-item
            routerLink="/partner-with-us/restaurant-dashboard"
          >
            <span>Restaurant Dashboard</span>
          </button>
          <button mat-menu-item>
            <span>Settings</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <span>Log out</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="mid">
      <div class="title">Register your restaurant on Foody</div>
      <div class="subtitle">and get more customers!</div>
    </div>
    <div class="bottom-buttons">
      <div class="register-restaurant" (click)="openAddRestaurant()">
        <button class="register-restaurant-btn" mat-flat-button>
          Register your restaurant
        </button>
      </div>
      <div class="login-restaurant" (click)="openRestaurantDashboard()">
        <button class="login-restaurant-btn" mat-flat-button>
          Restaurant already listed? View now
        </button>
      </div>
    </div>
  </div>
  <div class="overlay-1"></div>
  <div class="overlay-2"></div>
</div>
